header{
	font-size:50px;
	color:white;
	text-align:center;
	border-style: solid;
	background-color: black;
}
h1{
	text-align:center;
	
}
h2{
	font-size:16px;
	color: black;
	text-align: left;
}
#clear{
	clear:both;
}
h3{
	font-size:16px;
	color:black;
	text-align:left;
}
#nav{
	margin:0px auto;
	text-align: center;
}
#pics{
	text-align:center;
}
#menu {
	margin:0;
	padding:0;
    list-style-type: none;
    overflow: auto;
    background-color: black;
}
.item {
    display: inline;
}
.item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
.item a:hover {
    background-color: gray;
   
}

#p3{
	font-size: 16px;
	color: white;
	background-color:#D48B8B;
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.caesar{
	text-shadow: 3px 3px #1e757a;
}
mark{
	background-color: #acadaf;
	color:black;
}

summary{
	text-align:center;
}

hr{
	width: 50%;
}