header{
	font-size:50px;
	color:white;
	text-align:center;
	border-style: solid;
	background-color: black;
}
h1{
	width:40%;
	font-size:16px;
	color: pink;
	text-align: left;
}
h2{
font-size:16px;
	width:40%;
	float:right;
}
#clear{
	clear:both;
}
h3{
	font-size:16px;
	width: 40%;
	color:black;
	float: left;
}
#nav{
	margin:0px auto;
	text-align: center;
}
#pics{
	width: 50%;
	margin: 0 auto;
}
#menu {
	margin:0;
	padding:0;
    list-style-type: none;
    overflow: auto;
    background-color: #333;
}
.item {
    border: groove;
    border-color: orange;
    display: inline;
}
.item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.item a:hover {
    background-color: gray;
    position: relative;
    padding:0;
}